.blog-section h1 {font-size: 34px;font-weight: 700;}

.blog-section p {font-size: 19px;margin-top: 38px;}
.another-section h1 {font-size: 33px;}

.another-section p {font-size: 18px;}
.another-section {margin: 50px;}