.about-image ,img {margin-top: 22px;}
.myself {margin: 50px;}

.myself h1 {
    font-size: 50px;font-weight: 700;
}

.myself p {
    font-size: 19px;font-weight: 500;
}
.title{
    font-weight: 700;
}