.main{
    background-color: #F6F6EA;
    padding: 80px 0;
}

.banner-content h1 {font-size: 50px;font-weight: 700;line-height: 80px;}

.banner-content .life-text {font-size: 20px;font-weight: 600;color: #22D2ED;}
.banner-content .life-desp {font-size: 20px;font-weight: 500;}





